* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f5f1ec;
    }

    .container {
      display: grid;
      grid-template-columns: 220px 1fr 220px;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "header header header"
        "left main right"
        "footer footer footer";
      min-height: 100vh;
    }

    header {
      grid-area: header;
      background-color: #3e2c23;
      color: #f5f1ec;
      padding: 25px;
      text-align: center;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      letter-spacing: 2px;
    }

    .left, .right {
      background-color: #ede4d9;
      padding: 20px;
    }

    .left h3,
    .right h3 {
      font-family: 'Playfair Display', serif;
      margin-bottom: 10px;
      color: #3e2c23;
      border-bottom: 2px solid;
    }
    .left p, 
    .right p{
        padding: 10px;
        cursor: pointer;
    }
    .left p:hover{
        background-color: #3e2c23;
        color: #ede4d9;
    }

    
    main {
      grid-area: main;
      background-image: url(image/coffee-img.png);
      background-size: cover;
      background-position: center;
      position: relative;
      color: white;
    }

   
    .overlay {
      background-color: rgba(10, 8, 26, 0.692);
      height: 100%;
      padding: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    main h2 {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 36px;
      margin-bottom: 15px;
      letter-spacing: 1px;
    }

    main p {
      font-size: 16px;
      max-width: 600px;
      margin: 0 auto;
      line-height: 1.8;
      font-weight: 300;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;;
    }

    footer {
      grid-area: footer;
      background-color: #3e2c23;
      color: #f5f1ec;
      text-align: center;
      padding: 15px;
      font-size: 14px;
    }

    /* 📱 Responsive layout */
    @media (max-width: 768px) {
      .container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "header"
          "main"
          "left"
          "right"
          "footer";
      }

      .overlay {
        padding: 40px 20px;
      }

      main h2 {
        font-size: 28px;
      }
    }